<article class="post">
    <header>
		<h1 class="{% if isPostLayout %}display-1{% else %}display-4{% endif %}">
			<a href="{{site.url}}{{ post.url }}">{{ post.title }}</a>
		</h1>
		<p class="text-muted"><time pubdate="pubdate">{{ post.date | date('Y-m-d') }}</time></p>
    </header>

	{% set content = post.content|tweets %}
    
	{% if content is with_excerpt %}
		{% if isPostLayout %}
			<div class="lead">
				{{ content|excerpt }}
			</div>
			{{ content|after_content }}
		{% else %}
			{{content|excerpt}}
		{% endif %}
	{% else %}
		{{content}}
	{% endif %}
    
    {% if isPostLayout %}
        <footer>    
			<nav class="nav bg-faded">
				<a class="nav-link" href="http://prose.io/#christianp/betablog/edit/master/src/content/posts/{{post.filename}}.md">Edit</a>
			</nav>

            {% if post.terms_url.tags | length > 0 or post.terms_url.categories | length > 0 %}
            <ul class="list-unstyled">
                {% if post.terms_url.tags | length > 0 %}
                    <li>
                        <i class="fa fa-tags"></i>
                        {% for tag, url in post.terms_url.tags %}
                            <a href="{{ site.url }}{{ url }}">{{ tag }}</a>{% if loop.last == false %},{% endif %} 
                        {% endfor %}
                    </li>
                {% endif %}
                {% if post.terms_url.categories | length > 0 %}
                    <li>
                        <i class="fa fa-folder"></i>
                        {% for category, url in post.terms_url.categories %}
                            <a href="{{ site.url }}{{ url }}">{{ category }}</a>{% if loop.last == false %},{% endif %} 
                        {% endfor %}
                    </li>
                {% endif %}
            </ul>
            {% endif %}
        </footer>

        {% if (page.comments is defined and page.comments) or (page.comments is not defined and site.comments.enabled) %}
            <section>
                <h3>Comments</h3>
                <div id="disqus_thread"></div>
                <noscript>
                    Please enable JavaScript to view the
                    <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                </noscript> 
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </section>
		{% endif %}

		{% if page.javascript %}
		<script>
			{{page.javascript}}
		</script>
		{% endif %}
    {% endif %}
</article>
